@import '../../styles/variables';

.header {
    background: $transparentBlackBackground;
    height: 60px;
    width: 100%;
    text-align: center;
    z-index: 50;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    }
  
  .header__menu {
    width: 54px;
    height: 47px;
    margin: 12px, 0px, 0px, 8px;
    cursor: pointer;
    }

    .logo {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: $fontsize-24;
      cursor: pointer;
    
      
    
      .logo__textEvents {
        color: $lightThemeAccept;
        text-shadow: 0 0 3px $lightThemeHeader, 0 0 2px $white;
        font-size: $fontsize-24;
        font-weight: $bold;
      }
    
      .logo__textExpress {
        color: $white;
        text-shadow: 0 0 3px $lightThemeAccept , 0 0 5px $white;
        font-size: $fontsize-24;
        font-weight: $bold;
      }
    
      .logo__image {
        height: 25px;
      }
    }
    .header__right-block {
      display: flex;
     
      align-items: center;
      justify-content: center;
      background: $transparentGreyBackground;
      margin-right: 0px;
      margin-left: auto;
      border-radius: $buttonBorderRadius;
      padding: 2px 4px;
    }
 

    .btn-light-theme{
      padding: 5px 10px;
      font-size: $fontsize-14;
      margin-right: 0px;
      margin-left: auto;
      
    }
   