<section class="section-admin">
  <div class="container">
    <form #formAdmin="ngForm" (ngSubmit)="onSubmit(formAdmin.value)">
      <input
        [(ngModel)]="userIdInput"
        type="number"
        placeholder="User ID"
        name="userID"
      />
      <label for="blockDecide">Decide</label>
      <select [(ngModel)]="blockDecide" id="blockDecide" name="blockDecide">
        <option value="block">Block</option>
        <option value="unblock">Unblock</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </div>
</section>
