@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "./_resetStyles.css";

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}