@import "../../styles/variables";
.admin__list{
	text-align: center;
	margin-bottom: 30px;
}

.admin__list_item {
	margin-top: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 15px;
	border: 2px solid rgb(127, 127, 127);
	background-color: #eae8e8;

	input {
		padding: 5px;
		border-radius: 5px;
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.form-contol {
    border: 2px solid red;
}

.form__submit {
	align-self: center;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	background-color: $white;
	margin-top: 10px;
}

.input__container {
	display: flex;
	flex-direction: column;
}

.list__button {
	margin-left: 5px;
}